body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif
}

/* Logo*/
.page-nav .web-studio-logo {
    color: #4d5ae5;
    font-weight: 700px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em
    font-family: "Raleway", sans-serif
    
 }

.page-nav .studio {
    color: #2e2f42;
    
}

.page-nav .link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.page-nav .link:hover {
    color: #404bbf
}

.page-nav .link:focus {
    color: #404bbf
}
/* Address */

.address {
    font-style: normal;
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #434455;
    letter-spacing: 0.02em
}

.contacts-link:hover {
color: #404bbf
}
.contacts-link:focus {
color: #404bbf
}
.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #434455;
}

/* Main content */
.profi {
    background-color: #2e2f42;
}
.title {
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.button{
    background-color: #4D5AE5
}
.button {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif
}

.button:hover,
.button:focus {
 background-color: #404BBF
}


/* Section */
.our-professionalism{
    background-color: #2e2f42;
}


.competence-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20;
   }

.competence-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Our team */
.our-team{
    background-color: #F4F4FD
}
.our-team-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize
}

.our-teams-item {
    background-color: #FFFFFF
}

.our-teams-member {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #FFFFFF
}

.our-teams-member-position {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Our portfolio */
.our-portfolio{
    background-color: #FFFFFF
}
.our-portfolio-title {
color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 111%;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize
}
    
.our-portfolio-project {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em
}

.our-portfolio-app {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

/* Footer */
.footer {
    background-color: #2e2f42;
}

.web-studio-logo {
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.17;
    font-family: "Raleway", sans-serif
    }

.studio{
    color: #f4f4fd
}
.text-business {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
    