.body {
    font-family: "Roboto", "Raleway";
    color: #2e2f42; 
    background: #fff;
    
    
}
 .wrapper{
    background-color: ;
 }
 /* Logo*/
.page-nav .web-studio-logo {
   color: #4d5ae5; ;
}

.page-nav .studio{
    color: #2e2f42;
 }
  .page-nav .link{
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
/* Address */
    
.address {
    font-style: normal;
}

.contacts-link{
 font-weight: 400;
 font-size: 16px;
 line-height: 150%;
 color: #434455;
}
.contacts-link:hover,
 .contacts-link:focus {

 }
/* Main content */
.title {
   color: #fff;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
}

.button{
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        cursor: pointer;
}
.button .link:hover,
.button .link:focus {

}
/* Section */
.section {
background-color: #2e2f42;
}

.competence-title{
color: #2e2f42;
font-weight: 500;
font-size: 20;
line-height: 1.07

}

.competence-text{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* Our team */
.our-team-title{
    color: #2e2f42 ;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.our-teams-member{
color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

 .our-teams-member-position{
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Our portfolio */
.our-portfolio-title{
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.our-portfolio-project{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.our-portfolio-app{
   color: #434455;
   font-size: 16px;
   
}

/* Footer */
.footer {
    background-color: #2e2f42;
}
.web-studio-logo {
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

 .logo-studio {
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
}

.text-business{
    color: #f4f4fd;
    font-weight: 400;
    font-size: 40px;
    line-height: 52%;
}